body{
    display: block;
    text-align: justify;
    color: hsl(3, 78%, 91%);
    background-color: hsl(340, 7%, 17%);
}
h1{
}
#survey-form{
    background-color: white;
    margin: 0 0 0 200px;
}
.form-group{
    background-color: red;
    margin: 0 0 0 200px;
}